{%extends "foro.html"%}
{%block cuerpo %}
<br><input type="checkbox" id="resp_normal">
<label for="resp_normal">Ver respuestas comunes</label>
<br>{{pregunta}} <br>
{{pregunta.descripcion}}
<p>Respuestas:</p>

<div id="ajax">
    {%include "respuestas.html" %}
</div>

<script>
    let resp_normal = document.getElementById("resp_normal");
    resp_normal.addEventListener('click', r_comunes);
    function r_comunes() {
        if (resp_normal.checked == true) {
            let ajax = new XMLHttpRequest();
            ajax.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    document.getElementById("ajax").innerHTML = this.responseText;
                    likes();
                    dislikes();
                }
            }
            ajax.open("GET", "/pregunta/?id={{pregunta.id}}&comun=1", true);
            ajax.send();
            
            function likes() {
                let n_respuestas = parseInt(document.getElementById("n_respuestas").innerHTML);
                for (let i = 1; i <= n_respuestas; i++) {
                    let like = document.getElementById("like" + i);
                    like.addEventListener('click', sum_like);
                }

            }
            function dislikes() {
                let n_respuestas = parseInt(document.getElementById("n_respuestas").innerHTML);
                for (let i = 1; i <= n_respuestas; i++) {
                    let dislike = document.getElementById("dislike" + i);
                    dislike.addEventListener('click', quit_like);
                }
            }
        }
        else {
            let ajax = new XMLHttpRequest();
            ajax.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    document.getElementById("ajax").innerHTML = this.responseText;
                }
            }
            ajax.open("GET", "/pregunta/?id={{pregunta.id}}&confi=2", true);
            ajax.send();
        }

    }
    function sum_like() {
        console.log(this.id);
    }
    function quit_like() {
        console.log(this.id);
    }

</script>
{%endblock%}